@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Sulphur+Point&display=swap');

:root {
    background-color: #0E0E0E;
}

/*Styles for sidebar*/
.cottage {
    width: 80px;
    height: 80px;
    margin-top: 100px;
    background-color: #1E1E1E;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 50%;
    transition: all 0.3s;
}
.cottage:hover {
    border-radius: 15%;
    background-color: #d81e5b;
}
.cottage .cottage-icon {
    color: #d81e5b;
    transition: all 0.3s;
}
.cottage:hover .cottage-icon{
    color: white;
}
.cottage-active {
    width: 80px;
    height: 80px;
    margin-top: 100px;
    background-color: #d81e5b;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 15%;
    transition: all 0.3s;
}

.whatshot {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #1E1E1E;
    transition: all 0.3s;
}
.whatshot:hover {
    border-radius: 15%;
    background-color: orange;
}
.whatshot .whatshot-icon {
    color: orange;
}
.whatshot:hover .whatshot-icon {
    color: white;
}
.whatshot-active {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    background-color: orange;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 15%;
    transition: all 0.3s;
}

.update {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #1E1E1E;
    transition: all 0.3s;
}
.update:hover {
    border-radius: 15%;
    background-color: #2ec4b6;
}
.update .update-icon {
    color: #2ec4b6;
}
.update:hover .update-icon {
    color: white;
}
.update-active {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    background-color: #2ec4b6;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 15%;
    transition: all 0.3s;
}

.calendar {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #1E1E1E;
    transition: all 0.3s;
}
.calendar:hover {
    border-radius: 15%;
    background-color: #0cf574;
}
.calendar .calendar-icon {
    color: #0cf574;
}
.calendar:hover .calendar-icon {
    color: white;
}
.calendar-active {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    background-color: #0cf574;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 15%;
    transition: all 0.3s;
}

.interests {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #1E1E1E;
    transition: all 0.3s;
}
.interests:hover {
    border-radius: 15%;
    background-color: #9649cb;
}
.interests .interests-icon {
    color: #9649cb;
}
.interests:hover .interests-icon {
    color: white;
}
.interests-active {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    background-color: #9649cb;
    cursor: pointer;
    box-shadow: 10px;
    border-radius: 15%;
    transition: all 0.3s;
}


/*Styles for trending carousel*/
.item {
    min-height: 40rem;
    min-width: 30rem;
    padding: 40px;
}
.anime-card {
    width: 100%;
    height: 100%;
}
.inner-carousel {
    display: flex;
}
.carousel {
    cursor: grab;
    overflow: hidden;
}

.BackdropGrid::-webkit-scrollbar {
    display: none;
}

/*Styles for each card in trending carousel*/
.card-box {
    background: linear-gradient(to top, #1E1E1E 20%, rgba(0, 0, 0, 0.667) 30%, rgba(0,0,0,0) 50%);
}
.card-image {
    background: linear-gradient(to top, rgba(0,0,0,0)  black);
    border-radius: 2;
    box-shadow: 3;
    height: 280px;
    width: 176px;
    object-fit: cover;
    cursor: pointer;
}
.card-title {
    line-height: 1;
    -webkit-line-clamp: 2;
    max-lines: 2;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    left: 5%;
    z-index: 1;
    text-overflow: ellipsis;
}